n8n/workflow.json
{
  "name": "IoT Telemetry Processor - UAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iot-telemetry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-760, 300],
      "webhookId": "iot-telemetry"
    },
    {
      "parameters": {
        "jsCode": "// === IoT Telemetry Processor ===\n// Purpose: Process each telemetry event, track per-device stats,\n// and return human-readable summary for the dashboard.\n\nconst body = $json.body || $json;\nconst deviceId = body.device_id || 'unknown';\nconst temp = Number(body.temperature) || 0;\nconst humidity = Number(body.humidity) || 0;\n\n// Determine alert status\nlet alertStatus = 'normal';\nif (temp > 45) alertStatus = 'critical';\nelse if (temp > 35) alertStatus = 'warning';\n\n// Alert icons\nconst icon = alertStatus === 'critical' ? '\\uD83D\\uDEA8' :\n             alertStatus === 'warning' ? '\\u26A0\\uFE0F' : '\\u2705';\n\n// Build human-readable summary\nconst summaries = {\n  'normal': `${icon} Device \\\"${deviceId}\\\": Suhu ${temp}\\u00B0C — Normal. Tidak ada tindakan diperlukan.`,\n  'warning': `${icon} Device \\\"${deviceId}\\\": Suhu ${temp}\\u00B0C, Kelembapan ${humidity}% — Melebihi batas normal. Perlu dipantau.`,\n  'critical': `${icon} Device \\\"${deviceId}\\\": Suhu ${temp}\\u00B0C, Kelembapan ${humidity}% — CRITICAL! Butuh tindakan segera!`\n};\n\nconst summary = summaries[alertStatus];\n\n// Track per-device stats\nlet deviceStats = {};\ntry {\n  deviceStats = $workflow.variables.get('deviceStats') || {};\n} catch(e) {\n  deviceStats = {};\n}\n\nif (!deviceStats[deviceId]) {\n  deviceStats[deviceId] = {\n    count: 0,\n    firstSeen: new Date().toISOString(),\n    alerts: { normal: 0, warning: 0, critical: 0 }\n  };\n}\n\ndeviceStats[deviceId].count += 1;\ndeviceStats[deviceId].lastTemp = temp;\ndeviceStats[deviceId].lastAlert = alertStatus;\ndeviceStats[deviceId].lastSeen = new Date().toISOString();\ndeviceStats[deviceId].alerts[alertStatus] += 1;\n\ntry {\n  $workflow.variables.set('deviceStats', deviceStats);\n} catch(e) {\n  // workflow variables not available\n}\n\nreturn [{\n  json: {\n    alertStatus: alertStatus,\n    summary: summary,\n    device_id: deviceId,\n    temperature: temp,\n    humidity: humidity,\n    n8n_processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "code",
      "name": "Process Telemetry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-280, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Process Telemetry", "type": "main", "index": 0}]]
    },
    "Process Telemetry": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "tags": [],
  "pinData": {},
  "active": false
}
